.header-button {
  top: 50%;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 21px;
  margin-right: 32px;
}


.header-button:hover {
  background-color: #0a0a23;
  color: #fff;
}

.container-form{
  background-color: rgba(229, 198, 67, 1);
}

.programms{
padding-top: 32px;
padding-right: 14px;
}

#container-one {
  list-style: none;
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
}

#footer-div-two{
margin-left: 100px;
}



.container-footer{
display: flex;
justify-content: space-between;
padding-top: 185px;
padding-bottom: 149px;
align-items: baseline;
}

.maln-a{
  text-decoration: none;
  color: #8E8E8E;
  margin-top: 32px;
}

.maln-a:hover{
color: #E1C441;
font-family: "About", sans-serif;
}

#company{
  text-decoration: none;
color: #D9D9D9;
}

#company:hover{
  color: #E4C542;
  font-family: "About", sans-serif;
}

.footer-div{
  display: flex;
  flex-direction: column;
  font-family: "About", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 435px;
  padding-top: 32px;
  color: #8E8E8E;
}

.main-style{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 435px;
  padding-top: 32px;
  color: #8E8E8E;
  ;
}

.section-one {
  left: 100px;
  top: 164px;
  background-color: #F4F6F5;
  border-radius: 59px;
  padding-top: 56px;
}

.container__item{
  padding-bottom: 156px;
}
.main-but {
  top: 50%;
  background-color: #0a0a23;
  color: white;
  border: none;
  border-radius: 10px;
padding-left: 41px;
padding-right: 41px;
padding-top: 18px;
padding-bottom: 19px;
  min-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-left: 32px;
}

.main-but:hover {
  background-color: white;
  color: #000000;
}

*:focus {
  outline: none;
}

.explore{
  z-index: 100;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 96px;
  width: 474px;
  height: 473px;
  position: relative;
  margin-top: 77px;
  margin-left: 119px;
  line-height: 120px;
  margin-bottom: 40px;
}



.explore::before{
z-index: -1;
right: 8px;
top: 238px;
rotate: 2;
  content: "";
  position: absolute;
  background-color: #ecd362;
  transform: rotate(-2deg);
  width: 484px;
height: 112px;
}

.explore::after{
  z-index: -1;
  right: 32px;
  top: 2px;
  rotate: 2;
    content: "";
    position: absolute;
    background-color: #ffffff;
    transform: rotate(-1deg);
    width: 464px;
  height: 112px;
  }

.main-text{
height: 58px;
top: 754px;
left: 219px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 32px;
margin-left: 119px;
}

.vectorbut{
  margin-left: 119px;
}

.brand-sec{ 
background-color: rgba(235, 217, 107, 1);
}
.vector-img{
  width: 190px;
}

.brands{
  margin-top: 63px;
display: flex;
justify-content: space-between;
padding-top: 61px;
padding-bottom: 61px;
}

.young{
  width: 511px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 48px;
  background-image: url(../photos/vector.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.brand-img:hover{
  box-shadow: 15px 8px 10px #838132;
  border-radius: 15px;
}

.new-arrivals{
  width: 380px;
  height: 58px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin-top: 69px;
  margin-bottom: 118px;
  background-image: url(../photos/vector.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}



.main-h-one{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-top: 28px;
}

.explore-now{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-top: 7px;
  color: grey;
  margin-bottom: 30px;
}

.new-arivals .container{
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.girl{
  display: flex;
  justify-content: space-between;

}
.girls-div{
  align-items: center;
background-image: url(photos/arrow.png);
background-repeat: no-repeat;
background-position: bottom right;
}

.girls-div:hover{
  border-radius: 17px;
  box-shadow: rgb(176, 176, 176) 20px 10px 10px;
}


.spend-min{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36.04px;
  width: 673.09px;
  margin-top: 7px;
  margin-left: 32px;
}

.main-b{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36.04px;
  width: 428.99px;
  margin-top: 40.69px;
  margin-left: 32px;
}

.main-term{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36.04px;
  width: 643.09px;
  margin-top: 7px;
  margin-left: 32px;
}



.pay-text{
  position: relative;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 111.61px;
  width: 593px;
  margin-top: 140px;
  margin-left: 32px;
}


.payday{
  background-image: linear-gradient(to left top, #E0C340, #DFC23E, #E1C441, #E3C743, #E4C542, #E6C744, #E7C845, #E5C643, #E6C945, #E3C743, #E9CA48,#EDCE49, #F0D44C, #F4D84F, #F6DA52, #F7DB53, #F9DD55, #F9DF56, #FAE157, #F9DF56);
  margin-top: 190px;
}

.sale-now{
  z-index: 100;
padding-left: 68px;
}

.sale-now::before{
  z-index: -100;
  background-color: white;
}

.payday .container-1{
  display: flex;
}
.payimg{
  padding-top: 200px;
}

#button-one{
  margin-top: 30px;
}

.section-trending{
  margin-top: 190px;
}

.pinkk-girls{
  margin-top: 104px;
}

.rose-girls{
  margin-top: 104px;
}
.rose-girls:hover{
  border-radius: 18px;
  box-shadow: #9e9e9e 20px 10px 20px;
}
.pinkk-girls:hover{
  border-radius: 18px;
  box-shadow: #9e9e9e 20px 10px 20px;
}

#one-girl{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  padding-top: 104px;
  background-image: url(photos/arrow.png);
background-repeat: no-repeat;
background-position: bottom right;
}

.fashion-h1{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: white;
}

.trending-wrap{
  display: flex;
  justify-content: space-between;
}

.section-trending .container{
  margin-top: 104px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fav{
  margin-left: 100px;
}

.download-app{
  width: 507px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 48px;
  padding-top: 280px;
}

.DOWNLOAD{
  padding-left: 100px;
}

.main-sale{
  width: 419px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-top: 41px;
  color: rgba(124, 124, 124, 1);
}

.DOWNLOAD-two{
  width: 427px;
  height: 71px;
  padding-top: 65px;
}

.app .container{
  margin-top: 225px;
  padding-bottom: 147px;
  display: flex;
  justify-content: space-between;
}

.join-shop{
  width: 966px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 55px;
  padding-top: 261px;
  padding-bottom: 37px;
  color: white;
 margin: 0 auto;
  text-align: center;
}

.type-your{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  padding-top: 37px;
  color: white;
margin: 0 auto;
  text-align: center;
  padding-bottom: 49px;
}

.imgg-app{
  padding-right: 100px;
}

.container{
  width: 1720px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-one{
  display: flex;
  justify-content: space-between;
}

.beauty-g{
  width: 871px;
  height: 784px;
}


.form{
  margin: 0 auto;
width: 574px;
height: 87px;
left: 673px;
top: 6026px;
background: #FFFFFF;
border-radius: 10px;
}

.form__field{
  border: 0;
width: 269px;
height: 25px;
left: 700px;
top: 6053px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
letter-spacing: 0.03em;
color: #767676;
margin-left: 27px;
margin-right: 97px;
}

.grouup-img{
  width: 890px;
}

.groupp-app{
  width: 700px;
}

.btn:hover{
  background-color: #E4C542;
  box-shadow: #5e5e5e 4px 6px 4px;
}



.btn{
  margin-top: 10px;
width: 161px;
height: 67px;
left: 1076px;
top: 6036px;
background: #000000;
border-radius: 8px;
}

.pay-text::before{
  z-index: -1;
  top: 0px;
  content: "";
  position: absolute;
  background-color: white;
  transform: rotate(-2deg);
  width: 494px;
  height: 112px;
}

.btn{
left: 1114px;
top: 6053px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 35px;
letter-spacing: 0.03em;
text-transform: capitalize;
color: #FFFFFF;
}

.last-section{
  background-color: black;
  display: flex;
  justify-content: space-between;
}
